<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>Systeme de Gestion et de Suivi des Programmes Sociaux</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Acceuil</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Beneficiaire <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="../faces/view/individu/List.xhtml">Ajouter un cadidat</a></li>
        <li><a href="#">Creer Un dossier</a></li>
        <li><a href="#">Creer Fiche Beneficiaire</a></li>                        
      </ul>
    </li>
    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projet <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#">Creer un programme</a></li>
        <li><a href="#">Creer un projet</a></li>
        <li><a href="#">Ajouter une institution</a></li>
         <li><a href="#">Ajouter un contrat</a></li> 
          <li><a href="#">Ajouter un donnateur</a></li> 
          <li><a href="#">Ajouter un Distributeur</a></li> 
      </ul>
    
    </li>
    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Point de contact <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#">Ajouter un organisation</a></li>
        <li><a href="#">Creer un Point de Contact</a></li>
        
      </ul>
    </li>
    <li><a href="#">Rapport</a></li>
    <li><a href="#">Administration</a></li>
  </ul>
</div>

</body>
</html>
